Alastri.HaulInfinity.SchedulerClient.dll.wxs
Alastri.HaulInfinity.SchedulerContracts.dll.wxs
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.exe
!NuGet.exe
!Paraffin.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vsp
*.psess
*.orig
**/*.orig
Alastri.HaulInfinity.Library/Alastri.HaulInfinity.Library.csproj.orig
Generated.wxs

